.entity-list {
    display: flex;
    flex-flow: column;
    background-color: #6D8A88;
    height: 1000px;
}

.entity-list-entity-id-item {
    display: flex;
    flex-flow: column;
    border-radius: 0.1px;
    border: solid;
    width: 280px;
    height: 120px;
    font-size: 14px;
    font-family: arial,sans-serif, Roboto;
}

.entity-list-entity-id-item:hover {
    background-color:  rgba(255, 255, 255, 0.10);
    cursor: pointer;
}
