.top-bar {
    background-color: #1b1b1b;
    padding: 10px 0px 10px 0px;
    height: 32px;
}

.top-bar-content {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-flow: row;
}

.top-bar-image {
    width: 32px;
    height: 32px;
    margin-right: 4px;
}

.top-bar-tittle {
    width: 100px;
    height: 32px;
    color: aliceblue;
    font-size: 26px;
    font-family: fantasy;
    text-align: left;
    padding-top: 0px;
}

.top-bar-version {
    width: 32px;
    height: 16px;
    color: aliceblue;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 14px;
    padding-left: 8px;
}